@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.sec1{
    width: 100vw;
    height: auto;
    background-image: url("./img/mobile_intro_bg.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 2rem;
}
.header{
    padding: 1rem 20px;
    display: flex;
    justify-content: flex-start;
}
.btn1{
    border-style: none;
}

.humburger-icon{
    width: 30px;
    height: auto;
}
.mobile-menue{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.div1{
    display: block;
    padding: 3rem 1rem 1rem;
}

.hello-text{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #EC5242;
    font-size: 6vw;
}

.main-topic-text{
    text-align: center;
    color: #df1f0b;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    margin: 0%;
}


.div2{
    padding: 0rem 1.5rem;
    
}
.discription{
    border: 5px solid #ffff;
    color: rgb(51, 51, 51);
    line-height: 150%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-align: justify;
    word-break: break-all;
    background-color: white;
    text-align: center;

}

.contact-me{
padding: 2rem;
display: flex;
row-gap: 1rem;
flex-direction: column;
align-items: center;
}

.contact-me-text{
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}
.contact-me-emil{
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
    
    font-weight: 700;
    color: black;
}

.sec-logo-d2{
border-bottom: 1px solid gray;
}

.div-logo-d2{
padding: 4rem;
}

.h2-logo-d2{
    font-family: "Lato" , sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 20px;
    word-break: keep-all;
    vertical-align: inherit;
    padding-bottom: 1rem;
}
.hr-wrapper{
    display: flex;
    justify-content: center;
}

.red-hr{
    width: 10vw;
    height: 0px;
    border: 1px solid red;
    
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    margin: 0rem 4rem 4rem;
    padding: 2rem;
}

.logo-img{
    width: 40vw;
    
}

.past-summits{
    padding-top: 3rem;
}

.past-summits div span{
    font-size: 0.8rem;

}

.global-summit-imgs{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

.sponsers-wrapper {
    display: block;
    width: 100%;
    background-color: #272a31;
    padding-top: 3rem;
    height: 200px;
}
.h1-1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 24px;
    vertical-align: inherit;
    margin: 0%;
}

.guide_bar {
    font-family: "Nanum Gothic";
    text-align: center;
    color: rgb(255, 255, 255);
    width: 53px;
    height: 16px;
    border-bottom: 1px solid rgb(239, 81, 60);
    margin: 0px auto 54px;
}
.companies {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.companies img {
    width: 80px;
}

.copy-right {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding: 2rem 3rem;
}


.copy-right img {
    width: 50px;
    height: auto;
}

.copy-right span {
    display: flex;
    align-items: center;
    font-family: 'Lato',sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    height: auto;
}