@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
body{
    margin: 0%;
}
.sec1{
    width: 100vw;
    height: auto;
    background-image: url("./img/mobile_intro_bg.png")  ;
    background-repeat: no-repeat;
    background-position: top;
   
}

.header{
    padding: 1rem 20px;
    display: flex;
    justify-content: flex-start;
    
}

.btn1{
    border-style: none;
}
.humburger-icon{
    width: 30px;
    height: auto;
}

.div1{
    display: block;
    padding: 3rem 1rem 1rem;
}

.hello-text{
    font-family: 'Lato', sans-serif;
    color: #EC5242; 
    font-size: 6vw;
}

.main-topic-text{
    color: #EC5242;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 700;
    font-size: 8vw;
    margin: 0%;
    
}

.div2{
 padding: 0rem 1.5rem;
}

.discription{
border: 5px solid #ffff;
font-family: "Nanum Gothic";
color: rgb(51, 51, 51);
line-height: 150%;
font-family: 'Lato', sans-serif;
font-size: 13px;
text-align: justify;
word-break: break-all;
vertical-align: inherit;

}



.p2{
    font: 700 36px Verdana;
    color: rgb(87, 87, 87);
    font-size: 20px;
    font-family:'COCOGOOSE', sans-serif;
    font-weight: 400;
    text-align: start;
    letter-spacing: 0px;
    vertical-align: inherit;
    padding-left: 1.5rem;
}

.p3{
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: inherit;
    padding: 0rem ;
    margin-top: 1rem;
}

.sec2{
    background-image: url("./img/sec2_bg.png");
    background-repeat: repeat;
    background-color: rgb(39, 42, 50);
    
    padding-top: 60px;
    width: 100%;
    
}

.h1-1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 24px;
    vertical-align: inherit;
    margin: 0%;
}

.guide_bar{
    font-family: "Nanum Gothic";
    text-align: center;
    color: rgb(255, 255, 255);
    width: 53px;
    height: 16px;
    border-bottom: 1px solid rgb(239, 81, 60);
    margin: 0px auto 54px;
}

.ul1{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    flex-direction: column;
    padding: 0%;
    row-gap: 2rem;
}

.li1{
    display: flex;
    
}

.li1-div{
    display: flex;
    margin: 0% 2.5%;
    padding: 1rem 0rem;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    flex:1;

}
 .h2-1{    
    font-family: 'COCGOOSE', sans-serif;
    color: #ef513c;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    vertical-align: inherit;
    padding-left: 0.5rem;
    
}

.p4{
    padding: 0px 0.5em 0px 0px;
    font-family: 'lato','sant-serif';
    color: #fff;
    line-height: 1.5em;
    
    font-size: .75em;
    text-align: left;
    word-break: keep-all;
    vertical-align: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.main-program-img{
    width: 64px;
    height: fit-content;
}

.div4{
    
    color: #fff;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.span1{
    display: flex;
    font-family: 'lato','sans-serif';
    justify-content: center;
    align-items: center;
    background-color:#EC5242;
    margin-bottom: 2rem;
    width: 70%;
    height: 60px;
}

.sec3{
    width: 100%;
    padding-top: 79px;
}

.sec3-header-wrapper{
text-align: center;
}
.sec3-header{
    font-family:'lato','sans-serif';
    text-align: center;
    color: rgb(39, 42, 50);
    font-size: 24px;
    font-weight: 700;
    vertical-align: inherit;
    margin: 0%;
}
.speaker{
    display: flex;
    flex-direction: column;
}

.speaker-card{
   display: flex;
   flex-direction: column;
   margin-bottom: 24px;

}

.img-name{
display: flex;
flex-wrap: nowrap;

}
.card-img{
    width: 120px;
    height: fit-content;
}
    
.speaker-h3{
    font-family: 'lato',sans-serif;
    text-align: left;
    font-size: 16px;
    color: inherit;
    vertical-align: inherit;
    margin: 0%;
}
.speaker-h4{
    font-family: 'lato',sans-serif;
    
    font-size: 14px;
    text-align: left;
    color: inherit;
    vertical-align: inherit; 
    margin: 0%;
}
.speaker-p{
    font-family:'lato',sans-serif;
    font-style: italic;
    font-size: 13px;
    color: rgb(255, 79, 56);
    text-align: left;
    vertical-align: inherit;
}


.card-item2{
    padding-left: 1rem;
    
    padding-right: 1rem;
    flex-shrink: 1;
}


.card-p{
    flex-basis: 100%;
    font-family:'lato',sans-serif;
    color: rgb(39, 42, 50);
    word-break: break-all;
    line-height: 150%;
    font-size: 13px;
    text-align: left;
    vertical-align: inherit;
    
    padding-right: 20px;
}

.show-less{
    position: relative;
    left:2.5% ;
    width: 95%;
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3d3;
    padding: 1rem 0rem;
    margin-bottom: 3rem;

}

.show-less img{
    transform: rotate(0deg) scale(1.3);
}
.show-less span{
    font-family: 'lato',sans-serif;
}


/* mobile-menu */

.mobile-menu-wrapper{
    font-family: Nanum Gothic;
    color: #333;
    position: absolute;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 10;
    width: 85%;
    background: #272a32;
    opacity: .95;
    height: 9902px;
    
    padding-top: 2rem;
}

.mobile-menu-option-text{
    font-family: 'lato',sans-serif;
    font-size: 1em;
    line-height: 2.5em;
    color: #fff;
    vertical-align: inherit;
}

.mobile-menu-option-wrapper{
    width: 85%;
    padding-left: 2rem;
    height: fit-content;
    border-bottom: 2px solid ;
}

.mobile-menu-option-wrapper  img{
    transform: scale(3);
    
    float: right;
}

.exeption{
    border: unset;
}